<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <!-- Property -->
    <property name="LOG_FILENAME" value="logs/logback.log"/>
    <!-- Appender -->
    <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILENAME}</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILENAME}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>
    <!-- Logger -->
    <root level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </root>
    <Logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.boot.autoconfigure.logging" level="INFO" additivity="false"/>
    <logger name="io.ahakim.board" level="INFO"/>
    <logger name="io.ahakim.board.aop" level="DEBUG" additivity="true">
        <appender-ref ref="FILE_APPENDER"/>       
    </logger>
</configuration>
